@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background-color: #2db069;
    background-image: url(../images/edited.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-brand {
    padding-left: 30px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    transition: background-color 0.3s ease-in-out;
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#bs-example-navbar-collapse-1 {
    float: right;
}

#bs-example-navbar-collapse-1 li {
    padding-left: 50px;
}

h1 {
    margin-top: 120px;
    text-align: center;
    font-size: 74px;
    font-weight: bold;
    color: #fff;
}

p {
    font-size: 24px;
    line-height: 38px;
    max-width: 1100px;
    width: 100%;
    display: inline-block;
    margin: 30px auto;
    color: #fff;
    text-align: center;
}

button {
    width: 300px;
    height: 50px;
    border: 2px solid #209256 !important;
    background: #2db069;
    line-height: 50px;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    position: relative;
    top: 0;
    vertical-align: top;
    font-size: 21px !important;
    color: #fff;
}

button:hover, button:focus {
    top: -2px;
    color: #fff !important;
    outline: 0 !important;
}

.row:nth-child(2) {
    background-color: #2db069;
    width: 100%;
    padding: 100px 0;
    position: absolute;
    left: 0;
    margin: 0;
    margin-top: 150px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.row:nth-child(2) p {
    display: block;
    font-size: 22px;
    max-width: 1100px;
    line-height: 34px;
    margin-top: 55px;
    text-align: center;
}

.our-items {
    width: 100%;
    margin-top: 80px;
    text-align: center;
}

.our-items li {
    display: inline-block;
    width: 120px;
    height: 140px;
    margin: 0 10px;
}

.our-items li img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-clip: padding-box;
}

.our-items li span {
    width: 120px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
