@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@keyframes changeBgC {
  from {
    background-color: rgba(0,0,0,.1);
  }

  to {
    background-color: rgba(0,0,0,.7);
  }
}

body {
  background-color: #2db069;
  background-image: url(../images/edited.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.change .navbar-default {
  background-color: rgba(0,0,0,.7);
  animation-name: changeBgC;
  animation-duration: 5s;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#bs-example-navbar-collapse-1 {
  float: right;
}

#bs-example-navbar-collapse-1 li {
  padding-left: 50px;
}

h1 {
  margin-top: 120px;
  text-align: center;
  font-size: 74px;
  font-weight: bold;
  color: #fff;
}

.row:first-child p {
  font-size: 24px;
  line-height: 38px;
  max-width: 1100px;
  width: 100%;
  display: inline-block;
  margin: 30px auto;
  color: #fff;
  text-align: center;
}

button {
  width: 300px;
  height: 50px;
  border: 2px solid #209256 !important;
  background: #2db069;
  line-height: 50px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  position: relative;
  top: 0;
  vertical-align: top;
  font-size: 21px !important;
  color: #fff;
}

button:hover, button:focus {
  top: -2px;
  color: #fff !important;
  outline: 0 !important;
}

.row:nth-child(2) {
  background-color: #2db069;
  width: 100%;
  padding: 100px 0;
  position: absolute;
  left: 0;
  margin: 0;
  margin-top: 150px;
}

.row:nth-child(2) h2 {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

.row:nth-child(2) p {
  display: block;
  font-size: 22px;
  max-width: 1100px;
  line-height: 34px;
  margin-top: 55px;
  text-align: center;
}

.our-items {
  width: 100%;
  margin-top: 80px;
  text-align: center;
  padding-left: 0;
}

.our-items li {
  display: inline-block;
  width: 120px;
  height: 140px;
  margin: 0 10px;
}

.our-items li img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-clip: padding-box;
}

.our-items li span {
  width: 120px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.row:nth-child(3) {
  background-color: #543e67;
  width: 100%;
  padding: 55px 0;
  transform: translateZ(0);
  float: left;
  min-height: 600px;
  color: #fff;
  box-sizing: border-box;
  clear: both;
  margin: 0;
  left: 0;
  position: absolute;
  margin-top: 657px;
  display: inline-block;
  vertical-align: middle !important;
}

.row:nth-child(3) h2 {
  font-size: 42px;
  line-height: 63px;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  float: left;
  margin-left: 100px;
  max-width: 480px;
  margin-top: 50px;
}

.row:nth-child(3) p {
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
  float: left;
  margin-left: 100px;
  max-width: 480px;
}

.row:nth-child(3) .col-sm-6:nth-child(2){
    padding-right: 100px;
}

.row:nth-child(3) img {
  float: right;
  border-radius: 2px;
  width: 450px;
  opacity: 0;
  vertical-align: middle;
  margin-top: 20%;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(100);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(100);
  }
}

.fadeInRight .row:nth-child(3) img {
    opacity: 1;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-duration: 3s;
}

.row:nth-child(4) {
  background-color: #527bbc;
  width: 100%;
  padding: 40px 0;
  transform: translateZ(0);
  float: left;
  min-height: 600px;
  color: #fff;
  box-sizing: border-box;
  clear: both;
  margin: 0;
  left: 0;
  position: absolute;
  margin-top: 1352px;
  display: inline-block;
  vertical-align: middle !important;
}

.row:nth-child(4) h2 {
  font-size: 42px;
  line-height: 63px;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  float: right;
  margin-right: 100px;
  max-width: 480px;
  margin-top: 120px;
}

.row:nth-child(4) p {
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
  float: right;
  margin-right: 100px;
  max-width: 480px;
}

.row:nth-child(4) .col-sm-6:first-child{
    padding-left: 100px;
}

.row:nth-child(4) img {
  float: left;
  border-radius: 2px;
  width: 450px;
  opacity: 0;
  vertical-align: middle;
  margin-top: 20%;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(100);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(100);
  }
}

.fadeInLeft .row:nth-child(4) img {
    opacity: 1;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 3s;
}

.row:nth-child(5) {
  background-color: #f27a67;
  width: 100%;
  padding: 40px 0;
  transform: translateZ(0);
  float: left;
  min-height: 600px;
  color: #fff;
  box-sizing: border-box;
  clear: both;
  margin: 0;
  left: 0;
  position: absolute;
  margin-top: 1900px;
  display: inline-block;
  vertical-align: middle !important;
}

.row:nth-child(5) h2 {
  font-size: 42px;
  line-height: 63px;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  float: left;
  margin-left: 100px;
  max-width: 480px;
  margin-top: 200px;
}

.row:nth-child(5) p {
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
  float: left;
  margin-left: 100px;
  max-width: 480px;
}

.row:nth-child(5) .col-sm-6:nth-child(2){
    padding-right: 100px;
}

.row:nth-child(5) img {
  float: right;
  border-radius: 2px;
  width: 450px;
  opacity: 0;
  vertical-align: middle;
  margin-top: 20%;
}

.fadeInRight2 .row:nth-child(5) img {
    opacity: 1;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-duration: 3s;
}

.row:nth-child(6) {
  background-color: #527bbc;
  width: 100%;
  padding: 40px 0;
  transform: translateZ(0);
  float: left;
  min-height: 600px;
  color: #fff;
  box-sizing: border-box;
  clear: both;
  margin: 0;
  left: 0;
  position: absolute;
  margin-top: 2500px;
  display: inline-block;
  vertical-align: middle !important;
}

.row:nth-child(6) h2 {
  font-size: 42px;
  line-height: 63px;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  float: left;
  margin-right: 100px;
  max-width: 480px;
  margin-top: 120px;
}

.row:nth-child(6) p {
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
  float: left;
  margin-right: 100px;
  max-width: 480px;
}

.row:nth-child(6) .col-sm-6:first-child{
    padding-left: 100px;
}

.row:nth-child(6) img {
  float: left;
  border-radius: 2px;
  width: 450px;
  opacity: 0;
  vertical-align: middle;
  margin-top: 20%;
}

.fadeInLeft2 .row:nth-child(6) img {
    opacity: 1;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 3s;
}

.row:nth-child(7) {
  background-color: #f4a13e;
  width: 100%;
  padding: 40px 0;
  transform: translateZ(0);
  float: left;
  min-height: 600px;
  color: #fff;
  box-sizing: border-box;
  clear: both;
  margin: 0;
  left: 0;
  position: absolute;
  margin-top: 3100px;
  display: inline-block;
  vertical-align: middle !important;
}

.row:nth-child(7) h2 {
  font-size: 42px;
  line-height: 63px;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  float: left;
  margin-left: 100px;
  max-width: 480px;
  margin-top: 130px;
}

.row:nth-child(7) p {
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
  float: left;
  margin-left: 100px;
  max-width: 480px;
}

.row:nth-child(7) .col-sm-6:nth-child(2){
    padding-right: 100px;
}

.row:nth-child(7) img {
  float: right;
  border-radius: 2px;
  width: 450px;
  opacity: 0;
  vertical-align: middle;
  margin-top: 20%;
}

.fadeInRight3 .row:nth-child(7) img {
    opacity: 1;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-duration: 3s;
}

footer {
    background-color: #fff;
    width: 100%;
    transform: translateZ(0);
    float: left;
    min-height: 80px;
    color: #919191;
    box-sizing: border-box;
    clear: both;
    margin: 0;
    left: 0;
    position: absolute;
    margin-top: 3700px;
    display: inline-block;
    vertical-align: middle !important;
}

footer ul, footer ul li {
    float: left;
    margin-left: 30px;
    list-style-type: none;
    font-size: 18px;
    margin-top: 12px;
}

footer ul li.copy {
    margin-top: 17px;
}

footer ul li a{
    color: #3b4350;
    transition: all .2s ease-out;
    display: inline-block;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 24px;
    border-radius: 2px;
    background-clip: padding-box;
}

footer ul li a:hover, footer ul li a:focus {
    background: rgba(0,0,0,.05);
    color: #527bbc;
    text-decoration: none;
}

footer .newsLetter {
    float: right;
    height: 60px;
    width: 420px;
    margin-right: 65px;
}

footer .newsLetter input {
    border: 2px solid #3b4350;
    font-weight: 400;
    float: left;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-clip: padding-box;
    margin: 20px 0 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    text-indent: 10px;
    min-width: 300px;
    display: block;
    line-height: 40px;
    height: 40px;
}

footer .newsLetter input:focus, footer .newsLetter input:active {
    outline: 0 !important;
}

footer .newsLetter a {
    border-top-right-radius: 2px;
    float: left;
    background: #3b4350;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    transition: all .2s ease-out;
    width: 120px;
    display: block;
    line-height: 40px;
    height: 40px;
}

footer .newsLetter a:hover, footer .newsLetter a:focus, footer .newsLetter a:visited {
    color: #fff;
    text-decoration: none;
}
