<div class="row">
    <div class="col-sm-12">
        <h1>Header</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis id quaerat, adipisci maiores fugiat quas debitis soluta recusandae excepturi.</p>
        <div class="text-center">
            <button class="btn" type="button" name="button">Button</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est laborum quisquam, natus ipsa assumenda eaque suscipit omnis excepturi, libero fugiat, iste nisi? Itaque quidem, blanditiis!</p> -->
        <ul class="our-items">
            <li ng-repeat="client in clients">
                <img ng-src="../images/{{client.logo}}" alt="">
                <span>{{client.name}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo error sit est numquam necessitatibus consequuntur minus cumque dolore aspernatur quis, iusto placeat recusandae fuga, suscipit maxime vel, aliquid illo ipsam beatae repudiandae magni iure laboriosam.</p>
    </div>
    <div class="col-sm-6">
        <img src="../images/fadein1.jpg" class="img img-responsive" alt="">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img src="../images/fadein2.jpg" class="img img-responsive" alt="">
    </div>
    <div class="col-sm-6">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt cum totam quidem, officiis soluta quo deleniti eos adipisci necessitatibus distinctio.</p>
    </div>
</div>
